/* CS 341 Homework 1
    Anna Yrjanson */

body {
    background:rgb(255,228,196)
}

h1 {
    font-family: "Lucidia Handwriting", Impact, "Arial Narrow Bold", sans-serif;
    color:rgb(178,34,34)
}

#part1 {
    padding-top:5px;
    padding-bottom:10px;
}

#notes {
    color:rgb(178,34,34)
}

h3 {
    font-family:'Courier New', Courier, monospace;
    color:rgb(178,34,34)
}

th {
    color:rgb(178,34,34)
}

ul {
    background:rgb(247,215,196)
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
 
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;

  }
 
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
 
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
 
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
 
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
 
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;  
    height: 150px;
      overflow: auto;
  }

  .wrapper{
    border: 1px dashed red;
    height: 150px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 150px;
 }

 select {
  border: 0 none;
  color: #FFFFFF;
  background: transparent;
  font-style: italic;
  font-size: 17px;
  font-weight: bold;
  padding: 2px 10px;
  width: 75px;
  background-color: rgb(119, 22, 46);
}

.dropdown {
  overflow: hidden;
  width: 75px;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border-radius: 9px 9px 9px 9px;
  box-shadow: 1px 1px 11px #330033;
  background: url("arrow.gif") no-repeat scroll 319px 5px rgb(119, 22, 46);
}
